#xosDashboardManager {
  /* DRAG AND DROP STYLING */ }
  #xosDashboardManager .col-xs-10 + .col-xs-2.text-right {
    padding-top: 20px; }
  #xosDashboardManager ul[dnd-list] {
    min-height: 42px;
    border: 1px dashed #337ab7;
    padding: 20px;
    margin-bottom: 0; }
    #xosDashboardManager ul[dnd-list] li {
      list-style: none; }
    #xosDashboardManager ul[dnd-list] li:not(:last-child) {
      margin-bottom: 20px; }
    #xosDashboardManager ul[dnd-list] li:hover {
      cursor: pointer; }
    #xosDashboardManager ul[dnd-list] li.dndDraggingSource {
      display: none; }
  #xosDashboardManager ul[dnd-list] > li, #xosDashboardManager .dashboard-container {
    display: block;
    border: 1px solid #337ab7;
    padding: 20px; }
    #xosDashboardManager ul[dnd-list] > li a, #xosDashboardManager .dashboard-container a {
      float: right; }
