  <div id="terminal">
    <p class="response">XSH - The XOS Shell</p>
    <br />
    <p id="terminal_help1" style="display: none;">type "help" for help</p>
    <p id="terminal_help2" style="display: none;">type "tutorial" to start the tutorial</p>
    <p id="terminal_wait">Please wait while we talk to the XOS server...</p>

  </div>
  <link rel="stylesheet" type="text/css" href="{% static 'shell/opencloud_shell.css' %}" media="all">
  <script src="{% static 'shell/opencloud.js' %}"></script>
  <script src="{% static 'shell/opencloud_shell.js' %}"></script>
  <script src="{% static 'shell/object_id.js' %}"></script>
  <script src="{% static 'shell/constants.js' %}"></script>
  <script src="{% static 'shell/utils.js' %}"></script>
  <script src="{% static 'shell/shell_utils.js' %}"></script>
  <script src="{% static 'shell/tokens.js' %}"></script>


    <!-- script type="text/javascript" src="js/jquery-1.3.2.min.js"></script-->

    <!-- script type="text/javascript" src="js/mongo.js"></script -->
    <!-- script type="text/javascript" src="js/object_id.js"></script -->
    <!-- script type="text/javascript" src="js/lib/collection.js"></script -->

    <!-- script type="text/javascript" src="js/constants.js"></script -->
    <!-- script type="text/javascript" src="js/connection.js"></script -->

    <!-- script type="text/javascript" src="js/utils.js"></script -->
    <!-- script type="text/javascript" src="js/shell_utils.js"></script-->
    <!-- script type="text/javascript" src="js/tokens.js"></script -->


