{% extends "admin/base.html" %}
{% load admin_static %}

{% block content %}
<h1>Welcome <a href="core/user/{{user.id}}">{{user.email}}</a> from Site: <a href="core/site/{{site.id}}">{{site}}</a></h1>
<table class="table table-striped table-bordered table-hover table-condensed">
<thead><tr>
<th class="sortable">Slices</th><th class="sortable">Privilege</th>
<th class="sortable">Reservations</th>
</tr></thead>
{% for entry in userSliceInfo %}
<tr><td> <a href="core/slice/{{entry.slice.id}}">{{entry.slice.name}}</a><br>
</td><td>{{entry.role}}</td>
{% if entry.reservations %}
<td><a href="core/slice/{{entry.slice.id}}/#reservations">
{% for resSlot in entry.reservations.1 %}
{{resSlot}} <br>
{% endfor %}
</a></td></tr>
{% else %}
<td></td></tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}
