{% extends "admin/dashboard/dashboard_base.html" %}
{% load admin_static %}

{% block content %}
<!-- <div id="hometabs" class="inner-center-column ui-tabs ui-widget ui-widget-content ui-corner-all"> -->
<div id="hometabs" >
  <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
    <li><a href="#tabs-1">Developer View</a></li>
    <li><a href="#tabs-2">CDN Operations </a></li>
    <li><a href="#tabs-3">Historical</a></li>
    <li><a href="#tabs-4">Slice Interactions</a></li>
    <li><a href="#tabs-5">Tenant</a></li>
  </ul>
<div id="tabs-1">
{% include "/opt/planetstack/templates/admin/dashboard/developer.html" %}
</div>
<div id="tabs-2">
{% include "/opt/planetstack/templates/admin/dashboard/cdnoperations.html" %}
</div>
<div id="tabs-3">
{% include "/opt/planetstack/templates/admin/dashboard/hpc_historical.html" %}
</div>
<div id="tabs-4">
{% include "/opt/planetstack/templates/admin/dashboard/slice_interactions.html" %}
</div>
<div id="tabs-5">
{% include "/opt/planetstack/templates/admin/dashboard/tenant.html" %}
</div>
</div>

{% endblock %}
