@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';

/* LOADER */
.loader {
  font-size: 10px;
  margin: 150px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
  
  &:before {
    width: 50%;
    height: 50%;
    background: $brand-primary;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  
  &:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.loader.reverse {
  background: $brand-primary;
  &:before {
    background: #fff;
  }  
  &:after {
    background: $brand-primary;
  }
}


.loader.small{
  width: 2em;
  height: 2em;
  margin: 10px auto;
}

.loader.inline {
  display: inline-block;
  margin: 0 auto;
  float: right;
}


@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}