*.orig
*.pyc
*.swp
profile
*.moved-aside
.idea
setup/*
setup/id_rsa/*
xos/configurations/frontend/Dockerfile
xos/configurations/mcord/admin-openrc.sh
xos/configurations/setup/*
xos/configurations/common/*
xos/core/xoslib/karma-*
xos/core/xoslib/docs
xos/core/xoslib/coverage
node_modules
xos/xos_configuration/*
.idea/*
*.iml
npm-debug.log
xos/core/static/*.css
!xos/core/static/xos.css
.DS_Store
xos/configurations/setup/
migrations/
onboarding-docker-compose/
key_import/
