*.orig
*.pyc
*.swp
profile
*.moved-aside
.idea
xos.iml
xos/configurations/frontend/Dockerfile
xos/core/xoslib/karma-*
xos/core/xoslib/docs
xos/core/xoslib/coverage
node_modules
xos/xos_configuration/*
