.test-table td, th {
    border: 1px solid black;
}

#rightSide {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 450px;
}

#detailBox {
    padding: 10px;
    border: 2px solid;
    background-color: #f0f0f0;
    margin-bottom:30px;
    display:none;
    overflow:auto;
    max-height:80vh;
}

#errorBox {
    padding: 10px;
    border: 2px solid;
    background-color: #f00000;
    margin-bottom:30px;
    display:none;
}

#successBox {
    padding: 10px;
    border: 2px solid;
    background-color: #00f000;
    margin-bottom:30px;
    display:none;
}

.objectLink {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

