.btn-xos-detail {
    display: none;
}

.btn-xos-list {
    display: none;
}

#logPanel {
    overflow-y: auto;
    overflow-x: hidden;
}

#logTable {
    width: 100%;
    white-space: nowrap;
}

#logTable tr {
  border-bottom: 1px solid;
}

#logTable tr:last-child {
  border-bottom: none;
}

#contentButtonPanel {
    float: right;
    width: 200px;
}

/*#contentInner {
    margin-right: 200px;
}*/
