{% load admin_static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'xos.css' %}" media="all">


        {% block extrastyle %}

        {% endblock %}
        <!--[if lte IE 7]>
            <link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" />
        <![endif]-->
        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />
        {% endif %}
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
        {% block extrahead %}

        {% endblock %}
        {% block blockbots %}
            <meta name="robots" content="NONE,NOARCHIVE" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ XOS_BRANDING_FAVICON }}"></head>
    </head>
{% load i18n %}

    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" style="background-image: url('{{ XOS_BRANDING_BG }}') ">

    <!-- Container -->
    <div class="logout">

            <img class="logo" src="{% static XOS_BRANDING_ICON %}"/>
            {% block content_title %}{% if title %}<h1 class="logouth1tag">{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}
            {{ content }}
            {% endblock %}

    </div>


    </body>
</html>
