{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <!-- template: modify the breadcrumbs to support custom_app_breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span></li>
      <li>
        {% if custom_app_breadcrumb_url %}
            <a href="{{ custom_app_breadcrumb_url }}">{{ custom_app_breadcrumb_name }}</a>
        {% else %}
            <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{% firstof opts.app_config.verbose_name app_label|capfirst|escape %}</a>
       {% endif %}
        <span class="divider">&raquo;</span></li>
      <li class="active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
    </ul>
  {% endblock %}
{% endif %}


{% block object-tools %}
    <!-- template: modify object-tools to support custom_add_url -->
    {% if has_add_permission %}
      <div class="object-tools">
        {% block object-tools-items %}
        {% if custom_add_url %}
          <a href="{{ custom_add_url }}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-success">
        {% else %}
          <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="btn btn-success">
        {% endif %}
            <i class="icon-plus-sign icon-white"></i>&nbsp;
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
          </a>
        {% endblock %}
      </div>
    {% endif %}
{% endblock %}
