{% load i18n %}
<div class="form-buttons clearfix">
  {% if show_save %}<button type="submit" class="btn btn-success" name="_save">{% trans 'Save' %}</button>{% endif %}
  {% if show_save_and_continue %}<button type="submit" name="_continue" class=" btn btn-high btn-info">{% trans 'Save and continue editing' %}</button>{% endif %}
  {% if show_save_as_new %}<button type="submit" name="_saveasnew" class="btn btn-info">{% trans 'Save as new' %}</button>{%endif%}
  {% if show_save_and_add_another %}<button type="submit" name="_addanother" class="btn btn-info">{% trans 'Save and add another' %}</button>{% endif %}

  {% if show_delete_link %}
      {% if custom_delete_url %}
          <a href="{{ custom_delete_url }}" class="btn btn-danger">{% trans "Delete" %}</a>
      {% else %}
          <a href="delete/" class="btn btn-danger">{% trans "Delete" %}</a>
      {% endif %}
  {% endif %}
</div>
