{% load admin_static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>
<link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'xos.css' %}" media="all">
<script src="{% static 'suit/js/jquery-1.9.1.min.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
{% block extrahead %}{% endblock %}
</head>
<body>{% block content %}{% endblock %}</body>            
</html>
