Django~=1.11.20
confluent-kafka==0.11.5
django-extensions~=2.1.6
django-timezones~=0.2
djangorestframework~=3.9.1
functools32~=3.2.3-2
futures~=3.2.0
kafkaloghandler~=0.9.0
multistructlog~=2.1.0
prometheus_client~=0.6.0
psycopg2-binary~=2.7.7
pytz~=2018.9
semver~=2.8.1
tosca-parser~=1.4.0
