{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "destructuring": true,
        "arrowFunctions": true,
        "templateStrings": true
    },
    "env": { 
        "browser": true,
        "node": true,
        "es6": true
    },
    "plugins": [
        "angular"
    ],
    "rules": {
        "quotes": [2, "single"],
        "camelcase": [0, {"properties": "always"}],
        "no-underscore-dangle": 0,
        "eqeqeq": [2, "smart"],
        "no-alert": 1,
        "key-spacing": [1, { "beforeColon": false, "afterColon": true }],
        "indent": [2, 2],
        "no-irregular-whitespace": 1,
        "eol-last": 0,
        "comma-spacing": [1, {"before": false, "after": true}],
        "no-trailing-spaces": [1, { skipBlankLines: true }],
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
        "new-cap": 0,
        "no-multiple-empty-lines": 2,

        "angular/ng_module_name": [2, '/^xos\.*[a-z]*$/'],
//        "angular/ng_controller_name": [2, '/^[a-z].*Ctrl$/'],
        //"angular/ng_service_name": [2, '/^[A-Z].*Service$/'],
        "angular/ng_directive_name": [2, '/^[xos[[A-Z].*]*$/'],
        "angular/ng_di": [0, "function or array"],
        "angular/ng_angularelement": 0,
        "angular/ng_on_watch": 1
    },
    "globals" :{
        "angular": true
    } 
}