[Unit]
Description=PlanetStack Observer
After=syslog.target network.target

[Service]
Type=forking
User=root
PIDFile=/var/run/planetstack-backend.pid
ExecStart=/usr/sbin/daemonize -c /opt/planetstack -p /var/run/planetstack-backend.pid /opt/planetstack/planetstack-backend.py
ExecStop=kill $(cat /var/run/planetstack-backend.pid)

[Install]
WantedBy=multi-user.target

