#!/bin/bash

iptables -L > /dev/null
ip6tables -L > /dev/null

docker inspect vcpe > /dev/null 2>&1
if [ "$?" == 1 ]
then
	docker run --name=vcpe --privileged=true --net=none andybavier/docker-vcpe
else
	docker start vcpe
fi

# Set up networking via pipework
docker exec vcpe ifconfig eth0 >> /dev/null || pipework eth3 -i eth0 vcpe 10.1.2.99/24
docker exec vcpe ifconfig eth1 >> /dev/null || pipework eth2 -i eth1 vcpe 192.168.0.1/24 @{{ vlan_ids[0] }}

# Now can start up dnsmasq
docker exec vcpe service dnsmasq start

# Attach to container
docker start -a vcpe
