<div class="row">
  <div class="col-xs-12">
    <h1>Users List</h1>
    <p>This is only an example view.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
  <!-- <xos-form ng-model="vm.users[0]" config="vm.formConfig"></xos-form> -->
  <!-- <xos-alert config="vm.alertConfig">Random alert</xos-alert>
  <a class="btn" ng-click="vm.errors.email = !vm.errors.email" ng-class="{'btn-default': !vm.errors.email, 'btn-success': vm.errors.email}">
    Email
  </a> -->
  <!-- <xos-validation errors="vm.errors"></xos-validation> -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- <xos-table config="vm.tableConfig" data="vm.users"></xos-table> -->
    <xos-smart-table config="vm.smartTableConfig"></xos-smart-table>
  </div>
</div>