.test-table td, th {
    border: 1px solid black;
}

#rightSide {
    position: fixed;
    top: 1em;
    right: 1em;
}

#detailBox {
    padding: 10px;
    border: 2px solid;
    background-color: #f0f0f0;
    margin-bottom:30px;
    display:none;
}

#errorBox {
    padding: 10px;
    border: 2px solid;
    background-color: #f00000;
    margin-bottom:30px;
    display:none;
}

#successBox {
    padding: 10px;
    border: 2px solid;
    background-color: #00f000;
    margin-bottom:30px;
    display:none;
}

