.breadcrumb {
    display: none;
}

.btn-xos-detail {
    display: none;
}

.btn-xos-list {
    display: none;
}

#logTable {
    width: 100%;
}

#logTable tr {
  border-bottom: 1px solid;
}

#logTable tr:last-child {
  border-bottom: none;
}

#contentButtonPanel {
    float: right;
    width: 200px;
}

#contentInner {
    margin-right: 200px;
}
