<div class="row">
  <div class="col-xs-12">
    <h1>Service detail</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12" ng-show="vm.loader">
    <div class="loader"></div>
  </div>
  <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item" ng-class="{active: vm.serviceName == service}" ng-repeat="(service, slices) in vm.services">
        <a href="" ng-click="vm.selectService(service)">{{service}}</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-9 repeat-container" ng-show="!vm.error">
    <service-detail service="vm.selectedService"></service-detail>
  </div>
  <div class="col-sm-9" ng-show="vm.error">
    <div class="alert alert-danger">
      {{vm.error}}
    </div>
  </div>
</div>