<!-- <xos-table data="vm.contentProviderList" config="vm.config"/> -->

<table class="table table-striped" ng-show="vm.contentProviderList.length > 0">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tr ng-repeat="item in vm.contentProviderList">
    <td>
      <a ui-sref="details({ id: item.id })">{$ item.humanReadableName $}</a>
    </td>
    <td>
      {$ item.description $}
    </td>
    <td>
      {$ item.enabled $}
    </td>
    <td class="text-right">
      <a ng-click="vm.deleteCp(item.id)" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a></td>
  </tr>
</table>
<div class="alert alert-error" ng-show="vm.contentProviderList.length == 0">
  No Content Provider defined
</div>

<div class="row">
  <div class="span12 text-right">
    <a class="btn btn-success"href="#/contentProvider/">Create</a>
  </div>
</div>