[ui-view],
m-cord-topology{
  width: 100%;
  height: 100%;
  display: block;
}

line {
  stroke: blue;
  stroke-width: 1;
}

line.big{
  stroke-width: 2;
}

circle,
rect {
  fill: #fff;
  stroke-width: 1; 
}

.fabric {
  stroke: #000;
  fill: #1F77B4;
}

.fabric-container {
  fill: #fff;
  stroke: #000;
  stroke-width: 1;
}

.bbu {
  stroke: black;
  fill: #FF7F0E;
}

.bbu text {
  font-size: 10px;
  stroke: #000;
}

.rru {
  stroke: #000;
  fill: #FFBB78;
}

.rru-shadow {
  fill: #FFBB78;
  opacity: .4
}

.MME, .SGW, .PGW {
  fill: purple;
  stroke: #000;
}

.MME text, .SGW text, .PGW text {
  font-size: 10px;
  stroke: #000;
}