<script type="text/template" id="xos-cord-subscriber-template">
  <h3 class="xos-detail-title">CORD Subscriber</h3>
  <form>

  <div class="cord-subscriber-box">
  <h3>vOLT</h3>
  <table class="xos-detail-table cord-subscriber-table">
  <tr><td class="xos-label-cell">Id:</td><td><%= model.attributes.id %></td></tr>
  <tr><td class="xos-label-cell">Service Specific Id:</td><td><%= model.attributes.service_specific_id %></td></tr>
  <tr><td class="xos-label-cell">S-Tag:</td><td><%= model.attributes.s_tag %></td></tr>
  <tr><td class="xos-label-cell">C-Tag:</td><td><%= model.attributes.c_tag %></td></tr>
  </table>
  </div>

  <br>

  <div class="cord-subscriber-box">
  <h3>vCPE</h3>
  <table class="xos-detail-table cord-subscriber-table">
  <tr><td class="xos-label-cell">Id:</td><td><%= model.attributes.vcpe_id %></td></tr>
  <tr><td class="xos-label-cell">Synced:</td><td><% if (model.attributes.vcpe_synced) { print("Yes"); } else { print("No"); } %></td></tr>
  <tr><td class="xos-label-cell">Image:</td><td><%= model.attributes.image_name %></td></tr>
  <tr><td class="xos-label-cell">Instance Id:</td><td><%= model.attributes.instance %></td></tr>
  <tr><td class="xos-label-cell">Firewall:</td><td><input type="checkbox" name="firewall_enable" <% if (model.attributes.firewall_enable) print("checked"); %>>Enable<br>
                                                                  <textarea name="firewall_rules" style="width:320px; height:80px"><%= model.attributes.firewall_rules %></textarea></td></tr>
  <tr><td class="xos-label-cell">URL Filter:</td><td><input type="checkbox" name="url_filter_enable" <% if (model.attributes.url_filter_enable) print("checked"); %>>Enable
                                                                  <input name="url_filter_level" value="<%= model.attributes.url_filter_level %>"><br>
                                                                  <textarea name="url_filter_rules" style="width:320px; height:80px"><%= model.attributes.url_filter_rules %></textarea><br>
                                                                  BBS Account: <%= model.attributes.bbs_account %></td></tr>
  <tr><td class="xos-label-cell">CDN:</td><td><input type="checkbox" name="cdn_enable" <% if (model.attributes.cdn_enable) print("checked"); %>>Enable</td></tr>
  <tr><td class="xos-label-cell">Addresses:</td><td><%= model.attributes.wan_ip %> (wan)<br>
                                                                   <%= model.attributes.lan_ip %> (lan)<br>
                                                                   <%= model.attributes.nat_ip %> (nat)<br>
                                                                   <%= model.attributes.private_ip %> (private) </td></tr>
  <tr><td class="xos-label-cell">SSH Command:</td><td><%= model.attributes.ssh_command %></td></tr>
  </table>
  </div>

  <br>

  <div class="cord-subscriber-box">
  <h3>vBNG</h3>
  <table class="xos-detail-table cord-subscriber-table">
  <tr><td class="xos-label-cell">Id:</td><td><%= model.attributes.vbng_id %></td></tr>
  <tr><td class="xos-label-cell">Routeable Subnet:</td><td><%= model.attributes.routeable_subnet %></td></tr>
  </table>
  </div>

  <%= xosInlineDetailButtonsTemplate() %>
  </table>
  </form>
</script>


