<script type="text/template" id="xos-cord-subscriber-template">
  <h3 class="xos-detail-title">CORD Subscriber</h3>
  <form>
  <table class="xos-detail-table">
  <tr><td class="xos-label-cell">vOLT</td></tr>
  <tr><td class="xos-label-cell">ID:</td><td><%= vOLT_id %></td></tr>
  <tr><td class="xos-label-cell">internal ID:</td><td><%= vOLT_service_specific_id %></td></tr>
  <tr><td class="xos-label-cell">vCPE</td></tr>
  <tr><td class="xos-label-cell">ID:</td><td><%= vCPE_id %></td></tr>
  <tr><td class="xos-label-cell">vBNG</td></tr>
  <tr><td class="xos-label-cell">ID:</td><td></td></tr>
  <tr><td class="xos-label-cell">Routeable Subnet:</td><td></td></tr>
  </table>
  </form>
</script>

