<div class = "left-nav">
<ul>
{% for admin in registered_admins %}
    <li><a href="{{ admin.url }}">{{ admin.name }}</a></li>
{% endfor %}
</ul>
</div>

<!--
<ul>
<li><a href="/admin/hpc/originserver/">Origin Servers</a></li>
<li><a href="/admin/hpc/contentprovider/">Content Providers</a></li>
<li><a href="/admin/hpc/serviceprovider/">Server Providers</a></li>
<li><a href="/admin/hpc/cdnprefix/">CDN Prefixes</a></li>
<li><a href="/admin/hpc/sitemap/">Site Maps</a></li>
<li><a href="/admin/hpc/accessmap/">Access Maps</a></li>
</ul>
-->
