@import '../../../../style/sass/lib/_variables.scss';

// The solarized palette

$background:  #002b36;
$hl:          #073642;
$comment:     #586e75;
$foreground:  #839496;
$emph:        #93a1a1;

$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

#xosUITutorial {
  width: 100%;

  .ace_editor { height: 200px; }

  js-shell {
    display: block;

    #shell-panel {
      width: 100%;
      height: 400px;
      background: $background;
      padding: 10px;
      overflow: scroll;
      color: $emph;

      .prompt {
        color: $magenta;
      }

      .input {
        color: $blue;
      }

      .cursor {
        color: $cyan;
      }

      .error {
        color: $red;
      }

      #shell-view {

        >div>div{
          color: $blue;
        }

        .jsonObject {
          white-space: nowrap;
        }

        .jsonCollection {
          >.jsonObject{
            margin-left: 10px;
          }
        }
      }
    }
  }
}