<div class="row">
  <div class="col-sm-12">
    <h1>Ceilometer Dashboard</h1>
  </div>
</div>

<div class="row" ng-show="vm.loader">
  <div class="col-xs-12">
    <div class="loader">Loading</div>
  </div>
</div>

<section ng-hide="vm.loader">
  <div class="row">
    <div class="col-xs-12">
      <h2>Projects</h2>
    </div>
  </div>
  <div class="well" ng-repeat="(project, resources) in vm.projects">
    <div class="row">
      <div class="col-xs-11">
        <h3>{{project}}</h3>
      </div>
      <div class="col-xs-1">
        <a ng-click="expandProject = !expandProject" class="btn btn-primary">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
    </div>
    
    <div class="row">
      <div class="panel panel-default" ng-show="expandProject">
        <div class="panel-heading">
          <h4>Resources</h4>
        </div>
        <div class="panel-body" ng-repeat="(resource, meters) in resources">
          <div class="row">
            <div class="col-xs-11">
              <b>{{resource}}</b>
            </div>
            <div class="col-xs-1">
              <a ng-click="expandResource = !expandResource" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i>
              </a>
            </div>
          </div>
          <div class="row" ng-show="expandResource">
            <div class="col-xs-4">
              <b>Meter:</b>
            </div>
            <div class="col-xs-4">
              <b>Unit:</b>
            </div>
            <div class="col-xs-4">
              <b>Actions:</b>
            </div>
          </div>
          <div class="row" ng-repeat="meter in meters" ng-show="expandResource">
            <div class="col-xs-4">
              {{meter.name}}
            </div>
            <div class="col-xs-4">
              {{meter.unit}}
            </div>
            <div class="col-xs-4">
              <!-- <a ng-click="showMeter = !showMeter" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Details
              </a> -->
              <a ng-click="showChart = !showChart" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> View chart
              </a>
            </div>
            <!--   -->
            <div class="col-xs-12" ng-show="showChart">
              <ceilometer-samples name="meter.name" tenant="meter.project_id" ng-if="showChart"></ceilometer-samples>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>