#terminal {
  width: 960px;
  margin:50px auto 50px auto;
  border: 1px solid black;
  height: 400px;
  background: #002b36;
  overflow: scroll;
}

#terminal div.terminal_line {
  width: 940px;
  margin-bottom: 5px;
}

#terminal input {
  width: 875px;
  margin: 1px 0 1px 10px;
  border: none;
  display: inline;
  padding: 2px;
  background: #002b36;
  color: #839496;
  font-size: 15px;
  font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
  border-radius:0;
}

#terminal input:focus {
  box-shadow:none;
}

#terminal p {
  margin: 2px;
  color: #839496;
  font-size: 15px;
  font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
}

.terminal_help {
  margin: 2px;
  color: #839496;
  font-size: 15px;
  font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
  background: #002b36;
  padding:0;
  line-height:normal;
}

#terminal a {
  color: #6495ED;
}

#terminal span.prompt {
  color: #839496;
  font-size: 16px;
  margin-left: 2px;
}

/* an experiment with syntax hilighting */

.terminal_string {
    /*color:green; */
    color:#859900;
}

.terminal_number {
    /*color:darkorange;*/
    color:#d33682;
}

.terminal_boolean {
    /*color:blue;*/
    color:#7777A0;
}

.terminal_null {
    /*color:magenta;*/
    color:#A000A0;
}

.terminal_key {
    /*color:red;*/
    color:#268bd2;
}

