<div style="display: table;">
  <div class="row">
    <h1 class="cell">VPN List</h1>
  </div>
  <div class="row">
    <div class="cell header">ID</div>
    <div class="cell header">VPN Network</div>
    <div class="cell header">VPN Subnet</div>
    <div class="cell header">Script Link</div>
  </div>
  <div class="row" ng-repeat="vpn in vm.vpns">
    <div class="cell">{{ vpn.id }}</div>
    <div class="cell">{{ vpn.server_network }}</div>
    <div class="cell">{{ vpn.vpn_subnet }}</div>
    <div class="cell">
      <a download="connect-{{ vpn.id }}.vpn" ng-href="{{ vpn.script_text }}">Script</a>
    </div>
  </div>
</div>
