#xosSynchronizerNotifier {
  float: left; }
  #xosSynchronizerNotifier .alert {
    margin-bottom: 0px !important; }
  #xosSynchronizerNotifier .sync-status-container {
    position: relative; }
  #xosSynchronizerNotifier .notification-panel {
    position: absolute;
    width: 200px; }
  #xosSynchronizerNotifier sync-status .badge.success {
    background-color: #5cb85c; }
  #xosSynchronizerNotifier sync-status .badge.danger {
    background-color: #d9534f; }
