@import '../../../../style/sass/lib/_variables.scss';

#xosOpenVPNDashboard {
  width: 70%;
  margin: auto;
  .vpn-row {
      display: table-row;
  }
  .vpn-cell {
      display: table-cell;
      padding: 5px;
  }
  .vpn-header {
      font-weight: bold;
  }
}