[Unit]
Description=XOS Observer
After=syslog.target network.target

[Service]
Type=forking
User=root
PIDFile=/var/run/xos-observer.pid
ExecStart=/usr/sbin/daemonize -c /opt/xos -p /var/run/xos-observer.pid /opt/xos/xos-observer.py
ExecStop=kill $(cat /var/run/xos-observer.pid)

[Install]
WantedBy=multi-user.target

