{
    "globals" :{
        "describe": true,
        "xdescribe": true,
        "beforeEach": true,
        "it": true,
        "inject": true,
        "expect": true
    },
    "rules": {
      "max-nested-callbacks": [0, 4]
    }
}
