@import '../../../../style/sass/lib/_variables.scss';
@import './side-panel.scss';

#xosServiceGrid {
  width: 100%;
  service-graph {
    display: block;
    width: 100%;
    height: 600px;
  }

  .node {
    stroke: $brand-primary;
    fill: white;
  }

  .node.xos {
    fill: $brand-danger;
  }

  .link {
    stroke: darken($brand-primary, 10);
    stroke-width: 2px;
  }

  .link-arrow {
    stroke: darken($brand-primary, 10);
    fill: darken($brand-primary, 10);
  }
}