@import '../../../styles/animations.scss';
@import '../../../../../../style/sass/bootstrap/bootstrap/_variables.scss';

xos-form {
  button {
    margin-bottom: $form-group-margin-bottom;
  }

  button + button {
   margin-left: $form-group-margin-bottom; 
  }
}