{% load mustache %}
{% load straight_include %}

<script src="{{ STATIC_URL }}/js/vendor/underscore-min.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone-min.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/ICanHaz.min.js"></script>

<script src="{{ STATIC_URL }}/js/xoslib/xos-defaults.js"></script>
<script src="{{ STATIC_URL }}/js/xoslib/xos-backbone.js"></script>
<script src="{{ STATIC_URL }}/js/instanceListTest.js"></script>

<script type="text/html" id="instanceTemplate">
  {% straight_include "mustache/instanceTemplate.mustache" %}
</script>

<script type="text/html" id="listApp">
  {% straight_include "mustache/listApp.mustache" %}
</script>

<script type="text/html" id="detailApp">
  {% straight_include "mustache/detailApp.mustache" %}
</script>

<div id="app">
  {% mustache "mustache/listApp" %}
</div>
