<script src="{{ STATIC_URL }}/js/vendor/underscore-min.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.syphon.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.wreqr.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.babysitter.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.marionette.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'suit/css/jquery-ui.css' %}" media="all" >
<link rel="stylesheet" type="text/css" href="{% static 'css/xosAdminWholePage.css' %}" media="all" >
<link rel="stylesheet" type="text/css" href="{% static 'css/xosAdminSite.css' %}" media="all" >

<script src="{{ STATIC_URL }}/js/xoslib/xos-util.js"></script>
<script src="{{ STATIC_URL }}/js/xoslib/xos-defaults.js"></script>
<script src="{{ STATIC_URL }}/js/xoslib/xos-validators.js"></script>
<script src="{{ STATIC_URL }}/js/xoslib/xos-backbone.js"></script>
<script src="{{ STATIC_URL }}/js/xoslib/xosHelper.js"></script>
<script src="{{ STATIC_URL }}/js/xosAdminSite.js"></script>

<script type="text/template" id="xos-log-template">
  <tr id="<%= logMessageId %>" class="xos-log xos-<%= statusclass %>">
     <td><%= what %></td>
     <td><%= status %></td>
     <td><%= statusText %></td>
  </tr>
</script>

<div id="headerPanel">
{% include 'xosAdminHeader.html' %}
</div>

<div id="navigationPanel">
nav
</div>

<div id="contentPanel">
<div id="contentTitle">
</div>
<div id="tabs">
</div>
<div id="detail"></div>
<div id="linkedObjs1"></div>
<div id="linkedObjs2"></div>
<div id="linkedObjs3"></div>
<div id="linkedObjs4"></div>
</div>

<div id="logPanel">
<table id="logTable">
<thead>
<tr><th>status</th><th>operation</th><th>code</th><th>message</th></tr>
</thead>
<tbody>
</tbody>
</table>

</div>

{% include 'xosAdmin.html' %}
