    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="brand">Contact manager</span>
        </div>
      </div>
    </div>

    <div id="main-region" class="container">
      <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
    </div>

    <script type="text/template" id="contact-list-item">
      <p><%- firstName %> <%- lastName %></p>
    </script>

<script src="{{ STATIC_URL }}/js/vendor/underscore-min.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.wreqr.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.babysitter.js"></script>
<script src="{{ STATIC_URL }}/js/vendor/backbone.marionette.js"></script>
<script src="{{ STATIC_URL }}/js/xoslib/xos-backbone.js"></script>
<script src="{{ STATIC_URL }}/js/gentle.js"></script>


